body {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
} 

input {
  width: 7em;
}
label {
  margin-right:5px;
}

input {
  border: 2px solid rgba(0, 181, 204);
  padding: 0.5em;
  background: rgba(0, 181, 204, 0.1);
} 

.Output {
  margin: 30px auto;
  border: 1px solid black;
  box-shadow: 10px 5px 5px rgba(0, 181, 204, 0.5);
  max-width: 343px;
  min-width: 190px;
  text-align: center;
}

select {
  margin-left: 0.5em;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 20px;
  }
  .Output {
    min-width:100px;
  }
}